.card_hover:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.bg-card {
    background-color: #fafafa;
}

.bg-card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.about_banner {
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 2550, 1)), url(../src/img/header-baner.jpg);
    background-repeat: no-repeat;
}

.zoom-image:hover {
    transform: scale(1.1);
}

.mabber li {
    margin: 10px 15px;
}