.card_hover:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.bg-card {
    background-color: #eff6f7;
}

.about_banner {
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 2550, 1)), url(../src/img/header-baner.jpg);
    background-repeat: no-repeat;
}